/* Basic sample */
@font-face {
    font-family: mon amour one medium;
    font-style: normal;
    font-weight: 400;
    src: local('Mon Amour One Medium'), local('MonAmourOne-Medium'), url(/fonts/mon-amour-one-medium_1431732b118ed534ff171d6bd3f1b4d8.woff) format('woff'), url(/fonts/mon-amour-one-medium_1431732b118ed534ff171d6bd3f1b4d8.ttf) format('truetype')
}

body {
    overflow: hidden;
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;

    font-family: 'Mon Amour One Medium', Times, serif;
}

.flipbook-viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.flipbook-viewport .container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}

.flipbook-viewport .flipbook {
    width: 922px;
    height: 600px;
    left: -461px;
    top: -300px;
}

.flipbook-viewport .page {
    width: 461px;
    height: 600px;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flipbook .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.flipbook-viewport .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

#flipbook {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

/* Custom */

.text-container {
    color: #9D9D9C;
    font-size: 15px;
    line-height: 1.5;
}

.poem {
    margin-top: 80px;
    margin-left: 40px;
}

.stance {
    white-space: pre-line;
}

.stance-2 {
    margin-left: 40px;
}

.text-invitation {
    color: #9D9D9C;
    white-space: pre-line;
    text-align: center;
}

.page-link {
    font-family: initial;
    display: inline-block;
    transform: translate(0, -5px);
}

.img-inline {
    width: 50px;
}

/*Disable selection*/
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}